In [8]:
import pandas as pd

csv_path = "/workspace/outputs/2024-10-01/17-11-35/result.csv"
df = pd.read_csv(csv_path)

# show mean, std, min, max
df.describe()

       difference
count   29.000000
mean     0.214119
std      0.113505
min      0.030768
25%      0.122311
50%      0.184478
75%      0.265009
max      0.451520

In [19]:
import pandas as pd

csv1_paph = "/workspace/outputs/2024-10-01/16-19-30/result.csv"
csv2_paph = "/workspace/outputs/2024-10-01/16-32-36/result.csv"
csv3_paph = "/workspace/outputs/2024-10-01/16-40-06/result.csv"

df1 = pd.read_csv(csv1_paph)
df2 = pd.read_csv(csv2_paph)
df3 = pd.read_csv(csv3_paph)

In [20]:
df1

,generated_image_path,category,reason
0,data/einstein_inpaint/einstein_inpaint_000.png_00,1,"The same person is depicted, but the facial ex..."
1,data/einstein_inpaint/einstein_inpaint_000.png_01,1,"The same person is depicted, but the facial ex..."
2,data/einstein_inpaint/einstein_inpaint_000.png_02,1,"The same person is depicted, but the facial ex..."
3,data/einstein_inpaint/einstein_inpaint_001.png_00,1,"The same person is depicted, but the facial ex..."
4,data/einstein_inpaint/einstein_inpaint_001.png_01,1,"The same person is depicted, but the facial ex..."
...,...,...,...
87,data/einstein_inpaint/einstein_inpaint_029.png_01,2,"The identical person is depicted, but only the..."
88,data/einstein_inpaint/einstein_inpaint_029.png_02,2,"The identical person is depicted, but only the..."
89,data/einstein_inpaint/einstein_inpaint_030.png_00,1,The same person is depicted with different fac...
90,data/einstein_inpaint/einstein_inpaint_030.png_01,1,"The same person is depicted, with the facial e..."
91,data/einstein_inpaint/einstein_inpaint_030.png_02,1,"The same person is depicted, but the facial ex..."

In [21]:
df2

,generated_image_path,category,reason
0,data/einstein_inpaint/einstein_inpaint_000.png_00,1,"The same person is depicted, but the facial ex..."
1,data/einstein_inpaint/einstein_inpaint_000.png_01,1,The same person is depicted. The hat is an add...
2,data/einstein_inpaint/einstein_inpaint_000.png_02,1,The same person is depicted. The image does no...
3,data/einstein_inpaint/einstein_inpaint_001.png_00,1,"The same person is depicted in both images, bu..."
4,data/einstein_inpaint/einstein_inpaint_001.png_01,1,"The person appears to be the same, but the ima..."
...,...,...,...
88,data/einstein_inpaint/einstein_inpaint_029.png_01,2,"The same person appears in the image, but only..."
89,data/einstein_inpaint/einstein_inpaint_029.png_02,2,"The identical person is depicted, but the face..."
90,data/einstein_inpaint/einstein_inpaint_030.png_00,1,"The same person is depicted, but the angle and..."
91,data/einstein_inpaint/einstein_inpaint_030.png_01,1,"The same person is depicted, but the lighting ..."
92,data/einstein_inpaint/einstein_inpaint_030.png_02,1,"The same person is depicted, but the facial ex..."

In [22]:
df3

,generated_image_path,category,reason
0,data/einstein_inpaint/einstein_inpaint_000.png_00,2,"The face closely resembles Albert Einstein, bu..."
1,data/einstein_inpaint/einstein_inpaint_000.png_01,2,The person depicted in both images is likely t...
2,data/einstein_inpaint/einstein_inpaint_001.png_00,3,The person in the image is not Albert Einstein...
3,data/einstein_inpaint/einstein_inpaint_001.png_01,2,"The person depicted seems to be the same, but ..."
4,data/einstein_inpaint/einstein_inpaint_001.png_02,3,The person in the image is not Albert Einstein...
...,...,...,...
75,data/einstein_inpaint/einstein_inpaint_029.png_01,2,"The same person is depicted in the image, but ..."
76,data/einstein_inpaint/einstein_inpaint_029.png_02,2,The face of Albert Einstein is pasted onto a p...
77,data/einstein_inpaint/einstein_inpaint_030.png_00,2,"While the person in both images is the same, t..."
78,data/einstein_inpaint/einstein_inpaint_030.png_01,2,The person in the image appears to be the same...
79,data/einstein_inpaint/einstein_inpaint_030.png_02,2,The person in the image is likely the same per...

In [27]:
df1 = df1.rename(columns={"category": "category-gpt4o", "reason": "reason-gpt4o"})
df2 = df2.rename(columns={"category": "category-gemini-flash", "reason": "reason-gemini-flash"})
df3 = df3.rename(columns={"category": "category-gemini-pro", "reason": "reason-gemini-pro"})


df = pd.concat([df1, df2, df3], axis=1)
df = df.loc[:,~df.columns.duplicated()]

In [30]:
df.to_csv("/workspace/outputs/2024-10-01/17-11-35/summary.csv")

In [35]:
# category が一致しているか確認 

len(df[df["category-gpt4o"] == df["category-gemini-flash"]])

59